<header class="header">
  <div>
  <h2 id="title" class="title color3">Basic Rest  API Using NodeJs</h2>
  </div>
</header>
<main class="main">
  <section class="sections">
    <h3 class="colorwhite">Instructions</h3>
    <br>
    <p class="colorwhite">
    -  must log in to use the endpoint of the api rest.
    You can use the following email to perform the tests: example@api.com.
    The logueo route is: https://api-rest-example-src.herokuapp.com/login
    </p>
    <br>
    <p class="colorwhite">
    - use some testing software to test the api, example: Postman
    </p>
  </section>
  <section class="sections">
    <h3 class="colorwhite" >Endpoints</h3>
    <br>
    <div class="endpoint">
      <div>
        <div>GET</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/products</p></div>
      </div>
    </div>
    <div class="endpoint">
      <div>
        <div>GET</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/product/id</p></div>
        <div>Param type URL -:- id</div>
      </div>
    </div>
    <div class="endpoint">
      <div>
        <div>POST</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/product</p></div>
        <div>Param type Body -:- name, img, price, category, description</div>
      </div>
    </div>
    <div class="endpoint">
      <div>
        <div>PUT</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/product/id</p></div>
        <div>Param type URL -:- id</div>
        <div>Param type Body -:- name, img, price, category, description</div>
      </div>
    </div>
    <div class="endpoint">
      <div>
        <div>POST</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/signup</p></div>
        <div>Param type Body -:- email, password</div>
      </div>
    </div>
    <div class="endpoint">
      <div>
        <div>POST</div>
        <div><p class="colorwhite">https://api-rest-example-src.herokuapp.com/api/signin</p></div>
        <div>Param type Body -:- email</div>
      </div>
    </div>
  </section>
</main>
